<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="registry-form mx-auto">
                <h2 class="registry-header">Đăng ký</h2>
                <div class="form-group">
                    <label for="email">Họ và tên</label>
                    <input type="text" class="form-control" id="email">
                    <div class="divider-nospace"></div>
                </div>
                <div class="mt-5"></div>
                <div class="form-group">
                    <label for="email">Địa chỉ</label>
                    <input type="text" class="form-control" id="email">
                    <div class="divider-nospace"></div>
                </div>
                <div class="mt-5"></div>
                <div class="form-group">
                    <label for="email">Email/Phone</label>
                    <input type="text" class="form-control" id="email">
                    <div class="divider-nospace"></div>
                </div>
                <div class="mt-5"></div>
                <div class="form-group">
                    <label for="password">Mât khẩu</label>
                    <input type="password" placeholder="Ít nhất 3 ký tự" class="form-control" id="password">
                    <div class="divider-nospace"></div>
                </div>
                <div class="mt-5"></div>
                <div class="form-group password-field">
                    <label for="password">Nhập lại mật khẩu</label>
                    <input type="password" placeholder="Ít nhất 3 ký tự" class="form-control" id="confirm-password">
                    <i class="password-toggle fas fa-eye-slash"></i>
                    <div class="divider-nospace"></div>
                </div>
                <div class="mt-5"></div>
                <div class="form-group">
                    <div class="form-check checkbox-text">
                        <span style="display: flex;">
                            <input type="checkbox" placeholder="Ít nhất 3 ký tự" class="form-check-input" id="remember">
                            <label class="form-check-label text-start" for="remember">Ghi nhớ đăng nhập</label>
                        </span>
                        <a href="#" class="register-link">Quên mật khẩu</a>
                    </div>
                </div>
                <div class="form-group">
                    <select name="" id="" class="form-control access-right">
                        <option selected disabled>Quyền đăng nhập</option>
                        <option>Người dùng</option>
                        <option>Quản trị viên</option>
                    </select>
                </div>
                <button class="registry-button">Đăng ký</button>
                <div class="divider"></div>
                <p class="text-center">Bạn đã có tài khoản? 
                    <span>
                        <a href="#" class="register-link">Đăng nhập</a>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>